<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>

    <a href="/users">Users</a>

    <br/>
    <br/>
    <br/>
    <br/>

    <table>
        <thead>
            <tr>
                <th>아이디</th>
                <th>이름</th>
                <th>나이</th>
                <th>결혼여부</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(function(user) { %>
                <tr>
                    <td><a href="/<%= user._id %>"><%= user._id %></a></td>
                    <td><%= user.name %></td>
                    <td><%= user.age %></td>
                    <td><%= user.married %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>